<link href="~/Content/creeped-out.css" rel="stylesheet" />

<div class="dark-theme">

    <div class="surround">
        <div class="log-in-container">
            <section id="splash-logo" class="pulse">
                <span href="#" title="Log in to CreepedOut&trade;">
                    CreepedOut&trade;
                </span>
            </section>
            <section id="log-in">
                <form action="">
                    <input type="text" placeholder="Username" id="username" />
                    <input type="password" placeholder="Password" id="password" />
                    <a href="#" title="Log In">Log In</a>
                    <a href="#" title="Cancel" class="cancel">Cancel</a>
                </form>
            </section>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>
        // Color Toggle
        $(".theme-toggle").click(function () {
            $("body").toggleClass("dark-theme light-theme");
        });
        // Log-in
        $("#splash-logo span").click(function () {
            $(".surround").addClass("surround-up");
        });
        // Log-in Cancel
        $("#log-in a.cancel").click(function () {
            $(".surround").removeClass("surround-up");
        });
    </script>

</div>
